<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/2b9ccc51-c9e9-4feb-ab74-254814c6129c/resourcegroups/doctry20180709050305ResourceGroup/providers/Microsoft.ContainerRegistry/registries/doctry20180709050305</ResourceId>
    <ResourceName>doctry20180709050305</ResourceName>
    <ResourceGroup>doctry20180709050305ResourceGroup</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://doctry20180709050305.azurecr.io/</RegistryUrl>
    <UserName>doctry20180709050305</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8329e7c8-3201-4e08-8a73-9161d5e6a4c1</ProjectGuid>
  </PropertyGroup>
</Project>